/*html {
    height: 100%;
    background: #ffffff;
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #fadad8 50%, #fadad8 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(50%, #fadad8), color-stop(100%, #fadad8));
    background: -webkit-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #fadad8 50%, #fadad8 100%);
    background: -o-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #fadad8 50%, #fadad8a 100%);
    background: -ms-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #fadad8 50%, #fadad8 100%);
    background: linear-gradient(135deg, transparent 0%, transparent 50%, #fadad8 50%, #fadad8 100%), linear-gradient(45deg, #fff 0%, #fff 50%, #fff1ff 50%, #fff1ff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3fcfc', GradientType=1);
    font-family: 'Roboto', sans-serif;
  }
  */
  body{
    height: 100%;
    margin: 0;
    background-image: url("Desktop - 2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
  }

/*  @keyframes glow {
    from {
      -webkit-box-shadow: 0 0 30px 0 rgba(255, 100, 100, 0.3);
      -moz-box-shadow: 0 0 30px 0 rgba(255, 100, 100, 0.3);
      box-shadow: 0 0 30px 0 rgba(255, 100, 100, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 50px 5px rgba(255, 100, 100, 1);
      -moz-box-shadow: 0 0 50px 5px rgba(255, 100, 100, 1);
      box-shadow: 0 0 50px 5px rgba(255, 100, 100, 1);
    }
  }
  
  footer {
    margin: 30px;
    color: #3e4348;
    font-size: 0.6em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }*/